@use './layout';

@media only screen and (max-width: 376px){
    .container{
        .card{
            width: 327px;
            .image-section{
                width: fit-content;
                height: fit-content;
                img{
                    object-fit: fill;
                    margin: 0;
                    border-radius: 18px;
                }
            }
            .info-section article{
                width: 100%;
            }
        }
    }
} 
